<html>
 <head>
   <!-- <script src="/js/jquery.js"></script> -->
   <script src="/js/ygg.js"></script>
   <link rel="stylesheet" href="/css/ygg.css"/>
 </head>
 <body>
  <h1>Ygg</h1>
  <%= content %>
 </body>
</html>
